{% extends 'base.html' %}

{% block content %}
<h1>Langing</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquam aperiam cum doloribus ex, explicabo in iusto maiores
    nostrum porro quasi reprehenderit repudiandae temporibus vitae!
    Blanditiis delectus dolorum ea eligendi esse eveniet harum in ipsam
    laudantium libero minima molestias officia omnis quam quia, ratione
    repellendus rerum temporibus veniam voluptas? Assumenda autem blanditiis
    debitis, omnis ratione repellat reprehenderit sunt tempora tempore velit. e mollitia officiis
    reprehenderit. Adipisci deleniti labore magnam molestiae, nisi ullam ut voluptatum. Asperiores aut consequatur consequuntur,
    dignissimos distinctio doloribus dolorum explicabo illum necessitatibus numquam optio pariatur porro possimus provident,
    quo reiciendis reprehenderit ut vel veniam?</p>
{% endblock content %}